header {
    border-top: 23px solid #04e4a2; /*green line at the top*/
    line-height: 78px;
    background-image: -webkit-linear-gradient(150deg, #7c1817, #e94643);
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    
}

.logo {
    display: inline-block;
    margin-left: 50px;
}

.container img {
    vertical-align: middle; /*needed line-height in parent element*/
}

/*zoom-in effect when hover*/
.container img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.container img:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
}

/*website navigation panel*/
.navigation {
    float: right;
    text-transform: uppercase;
    font-size: 16px;
}

.navigation a {
    position: relative;
    color: white;
    font-family: Montserrat Ligt, Tahoma;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 5px; /*space for underline*/
    margin-left: 30px;
}

.navigation a:last-child {
    margin-right: 50px;
}

/*underline effect when hover*/
.navigation a:before {
  position: absolute;
  border-bottom: 5px solid yellow; /*substitutes text-decoration: underline;*/
  content: "";
  width: 100%; /*affects the effect pretty badly*/
  bottom: 0;
  left: 0;
  
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}
.navigation a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.touch-menu {
    display: block;
    padding: 0 30px;
    color: white;
    font-family: Montserrat Ligt, Tahoma;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}

.touch-menu {
    display: none;
}

@media (max-width: 768px) {
    .navigation {display: none;}
    .touch-menu {
        display: block;
        float: right;
    }
}

.touch-menu:after {
  border-bottom: 5px solid yellow; /*substitutes text-decoration: underline;*/
  content: ".";
  width: 100%; /*affects the effect pretty badly*/
  bottom: 0;
  left: 0;
    
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}

.touch-menu:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

/*Footer*/
footer {
    position: relative;
    background-color: #1a1a19;
    /*width: 100%;*/
    line-height: 78px;
}
.footer-copyright {
    display: inline-block;
    margin-left: 50px;
    font-size: 18px;
    font-family: Montserrat, Arial;
    color: #6d6d6d;
}
.footer-email {
    display: inline-block;
    float: right;
    margin-right: 50px;
    font-size: 18px;
    font-family: Montserrat, Arial;
}
footer a {
    text-decoration: none;
    color: #6d6d6d;
}
footer a:hover {
    color: #d3d3e5;
    text-decoration: underline;
}
.mailicon {
    display: inline-block;
    float: right;
    margin: 9px 20px 0 0;
}
