header {
    border-top: 23px solid #04e4a2; /*green line at the top*/
    height: 78px;
    /*background-color: #e94643;*/
    background-image: -webkit-linear-gradient(150deg, #7c1817, #e94643);
}

.container {
    line-height: 78px;/*height of header*/
}

.logo {
    display: inline-block;
    margin-left: 230px;
}

.container img {
    vertical-align: middle; /*needed line-height in parent element*/
}

/*zoom-in effect when hover*/
.container img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.container img:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
}

/*website navigation panel*/
.navigation {
    float: right;
    text-transform: uppercase;
    font-size: 16px;
}

.navigation a {
    position: relative;
    color: white;
    font-family: Montserrat Ligt, Tahoma;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 5px; /*space for underline*/
    margin-left: 30px;
    right: 95px;
}

/*underline effect when hover*/
.navigation a:before {
  position: absolute;
  border-bottom: 5px solid yellow; /*substitutes text-decoration: underline;*/
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}
.navigation a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}